<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="author" content="Babii Victor">
        <meta name="description" content="Pe RocketPCs gasesti cele mai bune
        build-uri de PC din Romania de la cele mai accesibile pana la cele mai 
        performante . Ai o gama larga de optiuni in functie de gusturile tale precum si periferice sau 
        componente pentru a-ti construi calculator visurilor tale.">
        <meta name="keywords" content="RocketPCs,PC,calculator,build PC,periferice,
        gaming,office,programare,componente PC,piese PC,PC ansamblat,high FPS PC">
        <title>RocketPCs - eroare</title>
        <link rel="stylesheet" href="/resurse/css/erori.css">
        <%- include("../fragmente/head.ejs") %> 

    </head>
    <%- include("../fragmente/header.ejs") %> 
    <body>
        

    <main>
        <div id="err-coloane">
			<div id="err-imag">
            </div>
            <img src="<%- locals.imagine %>" />
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs")  %> 


    </body>
</html>



